.grid input {
  background-color: #ef4444; /* bg-red-500 */
}

.grid input:checked {
  background-color: #22c55e; /* bg-green-500 */
}

.grid input ~ span:last-child {
  right: 1.75rem; /* right-7 */
}

.grid input:checked ~ span:last-child {
  right: 0; /* right-0 */
}
